{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <table class="table">
                <thead>
                <tr>
                    <th>number</th>
                    <th>Nome</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                {% for e in lista %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><i>{{ name }}</i></td>
                    <td><a href="{{ e }}" target="_blank">{{ e }}</a></td>
                </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-4">
        <a href={{url_for('index')}}>
            <button onclick="" type="submit" class="btn btn-primary btn-lg" style="background-color: #dc0606">Voltar
            </button>
        </a>
    </div>
</div>
{% endblock %}