{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-auto">
            <table class="table">
                <thead>
                <tr>
                    <th>Quantidade Nomes</th>
                    <th>Quantidade Links</th>
                    <th>Busca mais recorrente</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i>{{ number_elements }}</i></td>
                    <td>{{ number_links }}</td>
                    <td>{{ most_popular }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-4">
        <a href={{url_for('index')}}>
            <button onclick="" type="submit" class="btn btn-primary btn-lg" style="background-color: #dc0606">Voltar
            </button>
        </a>
    </div>
</div>
{% endblock %}